<html>
<head>
  <title>Magento</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='css/main.css'>
</head>
<body>
	<h1>Service 1</h1>
  <div id='myDiv'></div>
  <br>
  <hr>

  	<h1>Service 2</h1>
  <div id='myDiv2'></div>

  
 <script src="js/main.js"></script>
</body>
</html>